@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap');

*, ::before, ::after{ box-sizing: border-box;}

body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3 {
    font-family: 'Life Savers', serif;
}

body {
    font-family: 'Karla', sans-serif;
    color: #fff;
    background-color: #60B7C2;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1400px;
}

.heading--primary {
    margin-top: 1rem;
    font-family: 'Life Savers', serif;
    font-size: clamp(3rem, 7vw, 5rem);
    font-weight: 700;
  }

/* Buttony */

.button {
    display: inline-block;
    padding: clamp(0.9rem, 3vw, 1.6rem) clamp(1.4rem, 5vw, 3rem);
    font-size: clamp(1.5rem, 5vw, 2.5rem);;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Life Savers', serif;
    color: #fff;
  }
  
.button--primary {
    background-color: #675555;
}
  
.button--primary:hover {
    animation: zmena-primary 1.2s;
    animation-fill-mode: both;
}
  
.button--secondary {
    background-color: #fff;
    color: #675555;
}
  
.button--secondary:hover {
    animation: zmena-secondary 1.2s;
    animation-fill-mode: both;
}
  

/* Header */ 
.header {

    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    margin-top: -22px;
    margin-left: -8vmin;
    width: 35vw;
    min-width: 200px;
    max-width: 400px;
}

.mobile-nav {
    position: relative;
}

.mobile-nav__icon {
    align-self: first baseline;
    width: 40px;
    z-index: 2000;
}

.mobile-nav__icon-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3000;
    opacity: 0;
    width: 0;
}

.mobile-nav__checkbox {
    display: none;
}

.mobile-nav__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #60B7C2;
    background-size: 100%;
    z-index: 2000;
    opacity: 0;
    width: 0;
}

.mobile-nav__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.mobile-nav__item {
    padding: 1rem;
}

.mobile-nav__link {
    color: #fff;
    font-family: 'Life Savers', serif;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
}

.mobile-nav__link:hover, .mobile-nav__link:active {
    transform: scale(1.1);
    color: rgb(205, 42, 42);
}

.mobile-nav__checkbox:checked ~ .mobile-nav__nav {
    opacity: 1;
    width: 100%;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__icon-close {
    opacity: 1;
    width: 100%;
}

@media screen and (min-width: 850px) {
    .mobile-nav {
      display: none;
    }
}
  
.navigation {
    display: none;
}

@media screen and (min-width: 850px) {
    .navigation {
      display: block;
    }
}

.navigation__list {
    text-decoration: none;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

  .navigation__item {
    margin: 0 20px;
}

.navigation__link {
    color: #fff;
    font-family: 'Life Savers', serif;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
}

.navigation__link:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: rgb(205, 42, 42);
}


/* Main */

.about__content {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 1100px;
}

.about__text {
    margin: 40px 0;
    line-height: 2;
}

.about__flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (min-width: 750px) {
    .about__flex {
      flex-direction: row;
      margin-top: 60px;
    }

    .about__img {
        width: 30vw;
        min-width: 150px;
        max-width: 300px;
    }
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
}

/* Animace */

@keyframes zmena-primary {
    0% {
      background-color: #8BC343;
      transform: scale(1.0);
    }
    80% {
      background-color: red;
      transform: scale(1.05);
    }
  
    100% {
      background-color: red;
      transform: scale(1.05);
    }
  }
  
  @keyframes zmena-secondary {
    0% {
      background-color: #fff;
      color: #8C8C8C;
      transform: scale(1.0);
    }
    80% {
      background-color: #508e24;
      color: white;
      transform: scale(1.05);
    }
  
    100% {
      background-color: #508e24;
      color: white;
      transform: scale(1.05);
    }
  }
